.topbar {
  height: 50px;
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}
.topbarWrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}

.topRight {
  display: flex;
  align-items: center;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.topIconBadge {
  position: absolute;
  top: -5px;
  right: 0;
  background: red;
  color: white;
  height: 15px;
  border-radius: 100%;
  display: flex;
  width: 15px;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.topAvatar {
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
}
